<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.pinclassroom">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:debuggable="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="HardcodedDebugMode"
        tools:replace="allowBackup">
        <activity android:name=".Aulas.AulaPerfilActivity"></activity>
        <activity
            android:name=".Aulas.AulasWebView"
            android:label="@string/title_activity_aulas_web_view"
            android:parentActivityName=".AulasActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.pinclassroom.AulasActivity" />
        </activity>
        <activity android:name=".FotoPerfilActivity" />
        <activity
            android:name=".RegistroActivity"
            android:theme="@style/Theme.Design.Light.NoActionBar" />
        <activity
            android:name=".PerfilUsuarioActivity"
            android:theme="@style/Theme.Design.Light.NoActionBar" />
        <activity
            android:name=".AboutActivity"
            android:theme="@style/Theme.Design.Light.NoActionBar" />
        <activity
            android:name=".AyudaMejorarActivity"
            android:theme="@style/Theme.Design.Light.NoActionBar" />
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:theme="@style/Theme.Design.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RecoverPasswordActivity"
            android:theme="@style/Theme.Design.Light.NoActionBar" />
        <activity
            android:name=".ConfigActivity"
            android:theme="@style/Theme.Design.Light.NoActionBar" />
        <activity
            android:name=".EventosActivity"
            android:theme="@style/Theme.Design.Light.NoActionBar" />
        <activity
            android:name=".DocentesActivity"
            android:theme="@style/Theme.Design.Light.NoActionBar" />
        <activity
            android:name=".AulasActivity"
            android:theme="@style/Theme.Design.Light.NoActionBar" />
        <activity
            android:name=".PrincipalActivity"
            android:theme="@style/Theme.Design.Light.NoActionBar" />
    </application>

</manifest>